{% extends "app/base.html" %}

{% block content %}
<h1>Professor Dashboard</h1>

<style>
.left-box {
    width: 15%;
    float: left;
    height: 400px;
    display: in-line-block;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-color: red;
    }

.right-box {
    width: 85%;
    float: right;
    height: 400px;
    display: in-line-block;
    margin: 0;
    padding: 0px;
    border: 1px solid;
    border-color: red;
    overflow-y: auto;
    max-height: 400px;
    }


.btn-primary {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


</style>

<div class="left-box">
    <button type="button" class="btn btn-primary">Assignments</button>
    <button type="button" class="btn btn-primary">Tests</button>
    <button type="button" class="btn btn-primary">Roster</button>
    <button type="button" class="btn btn-primary">Quizzes</button>
    <button type="button" class="btn btn-primary">Performance</button>
    <button type="button" class="btn btn-primary">Quests</button>
</div>
<div class="right-box">
    <h3>Welcome to the dashboard!</h3>
    <p>Enjoy the gibberish below</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sapien faucibus et molestie ac feugiat sed. Facilisi etiam dignissim diam quis enim. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Tortor condimentum lacinia quis vel. Etiam sit amet nisl purus in mollis nunc. Sed pulvinar proin gravida hendrerit lectus a. Elementum curabitur vitae nunc sed velit. Sed faucibus turpis in eu mi. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Cursus risus at ultrices mi tempus imperdiet. Est ultricies integer quis auctor elit sed vulputate mi sit. Nec dui nunc mattis enim ut tellus elementum. Non nisi est sit amet facilisis magna etiam tempor orci.
    <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Praesent tristique magna sit amet purus. Ac ut consequat semper viverra nam libero justo. Ut eu sem integer vitae justo eget magna fermentum iaculis. Id donec ultrices tincidunt arcu non sodales neque. Mattis vulputate enim nulla aliquet porttitor lacus. Non odio euismod lacinia at quis. Sit amet tellus cras adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Non arcu risus quis varius quam. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Lobortis scelerisque fermentum dui faucibus. Amet risus nullam eget felis eget nunc. Est sit amet facilisis magna etiam tempor. Arcu dictum varius duis at consectetur lorem. Ut tortor pretium viverra suspendisse.</p>
    <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Praesent tristique magna sit amet purus. Ac ut consequat semper viverra nam libero justo. Ut eu sem integer vitae justo eget magna fermentum iaculis. Id donec ultrices tincidunt arcu non sodales neque. Mattis vulputate enim nulla aliquet porttitor lacus. Non odio euismod lacinia at quis. Sit amet tellus cras adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Non arcu risus quis varius quam. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Lobortis scelerisque fermentum dui faucibus. Amet risus nullam eget felis eget nunc. Est sit amet facilisis magna etiam tempor. Arcu dictum varius duis at consectetur lorem. Ut tortor pretium viverra suspendisse.</p>
    <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Praesent tristique magna sit amet purus. Ac ut consequat semper viverra nam libero justo. Ut eu sem integer vitae justo eget magna fermentum iaculis. Id donec ultrices tincidunt arcu non sodales neque. Mattis vulputate enim nulla aliquet porttitor lacus. Non odio euismod lacinia at quis. Sit amet tellus cras adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Non arcu risus quis varius quam. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Lobortis scelerisque fermentum dui faucibus. Amet risus nullam eget felis eget nunc. Est sit amet facilisis magna etiam tempor. Arcu dictum varius duis at consectetur lorem. Ut tortor pretium viverra suspendisse.</p>
    <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Praesent tristique magna sit amet purus. Ac ut consequat semper viverra nam libero justo. Ut eu sem integer vitae justo eget magna fermentum iaculis. Id donec ultrices tincidunt arcu non sodales neque. Mattis vulputate enim nulla aliquet porttitor lacus. Non odio euismod lacinia at quis. Sit amet tellus cras adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Non arcu risus quis varius quam. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Lobortis scelerisque fermentum dui faucibus. Amet risus nullam eget felis eget nunc. Est sit amet facilisis magna etiam tempor. Arcu dictum varius duis at consectetur lorem. Ut tortor pretium viverra suspendisse.</p>
    <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Praesent tristique magna sit amet purus. Ac ut consequat semper viverra nam libero justo. Ut eu sem integer vitae justo eget magna fermentum iaculis. Id donec ultrices tincidunt arcu non sodales neque. Mattis vulputate enim nulla aliquet porttitor lacus. Non odio euismod lacinia at quis. Sit amet tellus cras adipiscing. Pharetra sit amet aliquam id diam maecenas ultricies mi. Non arcu risus quis varius quam. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Lobortis scelerisque fermentum dui faucibus. Amet risus nullam eget felis eget nunc. Est sit amet facilisis magna etiam tempor. Arcu dictum varius duis at consectetur lorem. Ut tortor pretium viverra suspendisse.</p>
</div>

{% endblock content %}