{% extends "app/prof-base.html" %}

{% block prof-content %}

<div class="quiz-form">
    <h2 style="font-family: Georgia">Quizzes</h2>
    <h4 style="font-family: Georgia">Upload assignment pdf/image:</h4>
    <br>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <br>
        <button type="submit" class="btn btn-primary" style="width: 200px">Submit</button>
        {% if url %}
            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    </form>
</div>

<div class="display-all-quizzes">
    <h2 style="font-family: Georgia">Display quizzes here</h2>

    <!-- Display all quizzes is nonfunctional because implementation needs some work -->

</div>

{% endblock prof-content %}