{% extends "app/base.html" %}

{% block content %}

<h1 style="font-family: Georgia">Professor Dashboard</h1>

<div class="left-box">
    <div class="left-wrapper">
        <a class="btn btn-primary" href="../prof-dashboard/" role="button">Home</a>
        <a class="btn btn-primary" href="../prof-map/" role="button">Map</a>
        <a class="btn btn-primary" href="../prof-quizzes/" role="button">Quizzes</a>
        <br>
        <a class="btn btn-primary" href="#" role="button">Assignments</a>
        <a class="btn btn-primary" href="#" role="button">Tests</a>
        <a class="btn btn-primary" href="#" role="button">Roster</a>
        <a class="btn btn-primary" href="#" role="button">Performance</a>
    </div>
</div>

<div class="right-box">
    <div class="right-wrapper">
        {% block prof-content %}
        {% endblock %}
    </div>
</div>

{% endblock content %}