{% extends "app/base.html" %}
{% block content %}
<!--<head>
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0">
    <title>ALCO - Student Dashbaord</title>
    <link rel="stylesheet" href="sd_style_sheet.css">
</head>
-->
        <div class="col-4" id="side-nav-id">
            <a href="#" class="logo">
                {% load static %}
                <img src="{% static 'images/logo.png' %}" class="logo-img">
            </a>
            <ul class="nav-links">
                <li><a href="#"><p>Quests</p></a></li>
                <li><a href="#"><p>Stats</p></a></li>
                <li><a href="#"><p>Course Info</p></a></li>
                <li><a href="#"><p>Course Materials</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
    <div class="col-6" >
        <div class = "container-fluid" id="right-box-id">
        </div>
    </div>

{% endblock content %}
